# Ignore everything
*

# But not these files...
!.gitignore
!**/*.pdf
!**/*.v
!**/*.bit
!**/*.xise
!**/*.ucf
!**/*.ngc
!**/measurement.txt
!**/*.eps
!**/*.png
!**/*.p
!**/*.csv
!**/*.py
!**/*.pptx

# ...even if they are in subdirectories
!*/

# As we are here, let's keep even the patterns from https://conwaylife.com/wiki/
!**/Patterns/*

# Keep these files safe!
!libfreetype.so.6
!libpng16.so.16
!clean_project.sh
