# Ignore everything
*

# But not these files...
!.gitignore
!**/*.pdf
!**/*.v
!**/*.bit
!**/*.xise
!**/*.ucf
!**/*.ngc

# ...even if they are in subdirectories
!*/

# Keep these files safe!
!libfreetype.so.6
!libpng16.so.16
!clean_project.sh
